<form class="p-5 bg-teal-500">
  <div class="flex flex-nowrap justify-between">
    <button
      class="bg-teal-500 text-white active:bg-teal-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
      type="button"
      (click)="changePage(true)"
    >
      เพิ่มข้อมูล
    </button>

    <div class="mb-4">
      <label class="block text-white text-sm font-bold mb-2" for="username">
        ค้นหาชื่อ
      </label>
      <input
        class="shadow appearance-none border rounded w-full h-9 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        name="inputData"
        [(ngModel)]="inputData"
        (keyup)="findDataTable(inputData)"
      />
    </div>
  </div>
</form>

<table mat-table [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef>ลำดับ</th>
    <td mat-cell *matCellDef="let element">{{ element.no }}</td>
  </ng-container>

  <ng-container matColumnDef="idnumber">
    <th mat-header-cell *matHeaderCellDef>รหัสบัตรประชาชน</th>
    <td mat-cell *matCellDef="let element">{{ element.idnumber }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>ชื่อ</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="tel">
    <th mat-header-cell *matHeaderCellDef>เบอร์โทร</th>
    <td mat-cell *matCellDef="let element">{{ element.tel }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Action</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="edit()">
        <!-- <button mat-icon-button> -->
        <img src="../../assets/icon/editIcon.png" />
      </button>
      <button mat-icon-button (click)="delete()">
        <img src="../../assets/icon/delete.png" />
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
