<form class="p-5 bg-teal-500">
  <div class="flex justify-between">
    <div>
      <button
        class="bg-teal-700 text-white active:bg-teal-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
        (click)="changePage(true)"
      >
        เพิ่มข้อมูล
      </button>

      <button
        class="bg-teal-700 text-white active:bg-teal-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
        type="button"
        (click)="dowloadPDF()"
      >
        พิมพ์รายชื่อแบบ pdf
      </button>
    </div>

    <div class="mb-4">
      <label class="block text-white text-sm font-bold mb-2" for="username">
        ค้นหาชื่อ
      </label>
      <input
        matInput
        class="shadow appearance-none border rounded w-full h-9 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        type="text"
        (keyup)="findDataTable($event)"
      />
    </div>
  </div>
</form>

<table mat-table [dataSource]="dataSource">
  <!-- Position Column -->

  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef>ที่</th>
    <td mat-cell *matCellDef="let element">{{ element.no }}</td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef>ชื่อ</th>
    <td mat-cell *matCellDef="let element">{{ element.firstname }}</td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef>นามสกุล</th>
    <td mat-cell *matCellDef="let element">{{ element.lastname }}</td>
  </ng-container>

  <ng-container matColumnDef="dateIn">
    <th mat-header-cell *matHeaderCellDef>วันเวลาที่เข้ามาพัก</th>
    <td mat-cell *matCellDef="let element">{{ element.dateIn }}</td>
  </ng-container>

  <ng-container matColumnDef="quantityStay">
    <th mat-header-cell *matHeaderCellDef>รวมจำนวน วันที่เข้าพัก</th>
    <td mat-cell *matCellDef="let element">{{ element.quantityStay }}</td>
  </ng-container>

  <ng-container matColumnDef="priceRoom">
    <th mat-header-cell *matHeaderCellDef>ห้องพักราคา บาท</th>
    <td mat-cell *matCellDef="let element">{{ element.priceRoom }}</td>
  </ng-container>

  <ng-container matColumnDef="sumPrice">
    <th mat-header-cell *matHeaderCellDef>รวมเป็นเงิน ค่าเช่าห้องพัก บาท</th>
    <td mat-cell *matCellDef="let element">{{ element.sumPrice }}</td>
  </ng-container>

  <ng-container matColumnDef="fee">
    <th mat-header-cell *matHeaderCellDef>รวมเป็นเงินค่าธรรมเนียม</th>
    <td mat-cell *matCellDef="let element">{{ element.fee }}</td>
  </ng-container>

  <ng-container matColumnDef="note">
    <th mat-header-cell *matHeaderCellDef>หมายเหตุ</th>
    <td mat-cell *matCellDef="let element">{{ element.note }}</td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button (click)="edit(element.id)">
        <!-- <button mat-icon-button> -->
        <img src="../../assets/icon/editIcon.png" />
      </button>
      <button mat-icon-button (click)="delete(element.id)">
        <img src="../../assets/icon/delete.png" />
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of periodic elements"
>
</mat-paginator>
